@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
*{
    font-weight: bolder;
box-sizing: border-box;
font-family: poppins;
}

.heading{
         width: 514px;
         height: 51px;
        left: 113px;
         position: absolute;
         top:117px;
         color: #192F60;
         font-size:  33px; 
         text-align: left;
       }
.filter{
      width: 260px;
      height: 682px;
      position: absolute;
      top: 195px;
      left: 113px;
      background-color: white no-repeat;
      border: 1px solid white;
      box-shadow: 0px 3px 6px #00000029;
      opacity: 1;
    }
.fi{
position: absolute;
top:10px;
left: 26px;
width:55px;
height:25px;
font-size: 18px;
color: #192F60;
}
.fi1{
  position:absolute;
  top: 42px;
  left: 27px;
  width: 106px;
  height: 20px;
  font-size: 14px;
  opacity: 1;
  color: #192F60;
}
.fi2{
  position: absolute;
  top: 83px;
  left: 27px;
  padding-left: 20px;
  width: 208px;
  height: 35px;
  border: 1px solid #8C96AB;
  border-radius: 3px;
   opacity: 1;
   color: #8C96AB;
 }
 .cus{
      position:absolute;
      top: 130px;
      left: 27px;
      width: 52px;
      height: 20px;
      font-size: 14px;
      color: #192F60;
      opacity: 1;
     }
     
     .cus1{
          position: absolute;
          left: 27px;
          width:18px;
          height: 18px;
          border: 2px solid #3A5075;
          border-radius: 2px;
          accent-color: #3A5075;
          opacity: 1;
      }  
#a{
 position: absolute;
 left: 56px;
 height: 20px;
 color: #8C96AB ;

 font-size: 14px;
   } 
.cost{
   position: absolute;
   top: 349px;
   left: 27px;
   width: 89px;
   height: 20px;
   font-size: 14px;
   color: #192F60;
}
#a1{
   position: absolute;
   left: 27px;
   width: 18px;
   height: 18px;
   border: 2px solid #3A5075;
   accent-color: #3A5075;
    border-radius: 9px;
opacity: 1
}
.sort{
   position: absolute;
   top: 561px;
   left: 26px;
   font-size: 18px;
   opacity: 1;
   color: #192F60;
}

.display{
    position: absolute;
    left: 400px;
    width: 100%;
    height:auto;
    
}

 .display .card{
   width: 750px;
   height: 250px;
}

.img1{
  position: absolute;
  top: 25px;
  left: 35px;
  width: 120px;
  height: 120px;
  opacity: 1;
  border-radius: 25px;
}

.h1{
  position: absolute;
  top: 160px;
  left: 35px;
  right: 50px;
  border-color: #00000020;
}  

.p1{position: absolute;
  top: 170px;
  left: 40px;
  width: 140px;
  height: 118px;
  color: #636F88;
  font-size: 16px;
  opacity:1;
}
.p2{position: absolute;
  top: 170px;
  left: 210px;
  width: 251px;
   height: 69px;
  color:#192F60;
  font-size: 16px;
  opacity:1;
}
.p3{position: absolute;
  top: 10px;
  left: 196px;
  width: 100%;
   height: 43px;
  color:#192F60;
  font-size: 30px;
  opacity:1;
}
.p4{position: absolute;
  left: 201px;
  top: 72px;
  color: #192F60;
  font-size: 16px;
  opacity:1;
}
.p5{position: absolute;
  left: 201px;
  top: 100px;
  color: #636F88;
  font-size: 16px;
  opacity:1;
}


.pagination{
  border-color: #192F60;
  
  width: 100%;
  height: auto;
  position: relative;
  left: 200px;
  display: inline;
}
.pagination a {
  
  border-color: #636F88;;
  border: solid ;
  border-radius: 3px;
  padding: 5px;
  text-decoration: none;
  width: 40px;
  height: 40px;
  
}


.nodata{
  width: 300px;
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  color:red;
  font-weight: bolder;

}